<h1>About This Website</h1>

<p>This is a website built around Pokemon and contains information on all Pokemon on the national Pokedex.
   A set of data was parsed from a .csv file and stored within a SQLLite database.</p>
<p>Three tables and one join table exist within the database:</p>
<ul>
  <li>Pokemon</li>
  <li>Generation</li>
  <li>Type</li>
  <li>PokemonType</li>
</ul>
<p>Pokemon contains a record for every Pokemon in the national Pokedex and holds their entry number, name, and
   all base stats</p>
<p>The table associated with Generation contains rows for every generation and their respective regions.</p>
<p>The Type model contains records for every Pokemon type and their associated names.</p>
<p>Finally, we have the PokemonType table that resolves the many-to-many relationship between Pokemon and Type
   since a Pokemon can have more than one type and a type belongs to many Pokemon</p>

<p>Here is an ERD illustrating the structure of the database:</p>

<img alt="" src=""/>