<h2>About This Website</h2>

<p>Pokemon Data Project is a school project I have built using Ruby on Rails. It revolves around Pokemon and contains information on every Pokemon on the national Pokedex.
   I parsed data from a .csv file pulled from Github and stored it within models I have created.</p>
<p>There are three tables as well as one join table within the database:</p>
<ul>
  <li>Pokemon</li>
  <li>Generation</li>
  <li>Type</li>
  <li>PokemonType</li>
</ul>
<p>Pokemon contains a record for every Pokemon in the national Pokedex and holds their entry number, name, and
   base stats.</p>
<p>The table associated with Generation contains a row for every generation and their respective regions.</p>
<p>The Type model contains records for every Pokemon type with their associated names.</p>
<p>Lastly, the PokemonType table resolves a many-to-many relationship between Pokemon and Type
  since a Pokemon generally can have one or two types and a type belongs to many Pokemon.</p>

<p>Here is an ERD illustrating the structure of the database:</p>

<%= image_tag 'pokemon_erd.PNG', width: 700 %>